
body{
  background-color: #F2F2F2;
}
.top{

  background-color: #DC4A38;
  @media (max-width: 1200px){
    padding-bottom: 10px;
  }
  .container {
    .logo {
      width: 50px;
      height: 50px;
    }

    .form {
      @media (max-width: 425px) {
        display: none!important;
      }

    input {
      height: 50px;
      border: none;
      margin-left: 20px;
    }

    button {
      height: 50px;
    }
  }

    .nav {
      @media (max-width: 1200px) {
        display: none;
      }

      a {
        text-decoration: none;
        color: black;

        p {
          margin: 0 25px 0 0;
        }

        img {
          margin-left: 23px;
          width: 15px;
          height: 15px;
          color: white;


        }
      }

      .dropdown {

        img {
          width: 50px;
          height: 50px;
        }

        button {
          height: 160px;

        }

        .dropdown-menu {
          background-color: #DC4A38 !important;
          z-index: 2;

        }
      }
    }

    .cont {
      .bur{
        display: none;
        @media (max-width: 1200px) {
          display: block;
          margin-top: 15px;
          margin-left: 10px;
        }

      }

    .modal-dialog {


      .modal-content {
        .modal-body {
          .d-flex {
            justify-content: space-between !important;
          }
        }
      }
    }
  }
  }
}
.main{
  .container{
    .row{
      .col-lg-3{
        .box-1{

          .card-header{
            background-color: #DC4A38;

            height: 100px;
            img{
              width: 100px;
              transform: translateY(40px);
              border-radius: 50%;
              border: 2px solid white;

            }
          }
          .card-body{
            h4{
              margin-top: 40px;
            }
            p{
              font-size: 12px;
              color: #A2A4AD;
            }

          }
          .card-footer{
            background-color: white;
            h5{
              color: #A2A4AD;
            }
          a{
            text-decoration: none;
            p{
              color: red;

            }
          }
          }
        }
        .box-2{
          .card-header{
            background-color: white;
          }
          .card-body{
            h6{
              margin-top: 16px;
            }
            p{
              font-size: 14px;
              color: #A2A4AD;
            }
            .plyus{
              width: 35px;
              height: 35px;
              margin-top: 20px;
              border: 1px solid #A2A4AD;
              display: block;
              margin-left: auto;
          a{
            text-decoration: none;
            p{
              font-size: 21px;
              margin-left: 7.5px;

            }
          }
            }
            .view{
              a{
                text-decoration: none;
                p{
                  color: red;
                  font-size: 16px;
                }
              }
            }
          }
        }

      }
      .col-lg-6 {
        @media (max-width: 990px) {
          margin-top: 50px;
        }
        .post {
          background-color: white;
          height: 100px;

          .job {
            margin-right: 20px;
            color: white;
            background-color: #DC4A38;
          }
        }

        .coral {
          width: 100%;
          height: 3px;
          background-color: #DC4A38;
          margin-bottom: 25px;
        }

        .senior {

        .epic {
          color: #A2A4AD;

          img {
            width: 20px;
            height: 20px;
          }

          button {

            height: 38px;

            img {
              margin-right: 3px;
            }
          }

        }
          .ep{
            @media (max-width: 450px) {
              display: block!important;
            }
          }
          .more {

            h6 {
              color: #A2A4AD;

            }

            a {
              text-decoration: none;
              color: red;
            }

            .bloka {
              .block{
                @media (max-width: 500px) {
                  margin-top: 10px;
                }
              }
              @media (max-width: 500px) {
                display: block!important;
                margin-top: 10px;
              }
            button {
              border-radius: 18px;
              margin-right: 10px;

            }
          }
          }
          .senior-footer{
            border-top: 2px solid #A2A4AD;

            p{
              color: #A2A4AD;
              @media (max-width: 400px) {
               font-size: 10px;
              }
            }
            //.h-50{
            //  @media (max-width: 400px) {
            //   height: 25% !important;
            //  }
            //}
          }
      }

        .profiles{
          .card{
            .card-header{
              background-color:#F2F2F2 ;
            }
            .owl-carousel{
              background-color:#F2F2F2 ;
              .owl-nav{
                display: none;
              }
              //.owl-dot span{
              //  background-color: red !important;
              //}
              .owl-item{
                img{
                  display: flex !important;
                  margin: 0 auto;
                  width: 60px !important;
                }
              }

              h4{
                font-size: 14px;
              }
              button{
                width: 56px;
                height: 20px;
                font-size: 10px;

              }
              .but1{
                width: 38px;
                height: 20px;
                img{
                  width: 15px !important;
                  margin:  0 auto
                ;
                  height: 10px;
                }
              }
              .but{
                width: 45px;
                height: 20px;
              }

            }

          }
          .str-left{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            left: -15px;
            top: 200px;
            display: flex;
            align-items: center;


            z-index: 1;
            h2{
              margin: 0 auto;
              color: #A2A4AD;
            }
          }
          .str-right{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: white;
            right: -15px;
            top: 200px;
            display: flex;
            align-items: center;
            cursor: pointer;


            z-index: 1;
            h2{
              margin: 0 auto;
              color: #A2A4AD

            }

          }
        }
        .reply{
          border-top: 2px solid #A2A4AD;
          .plus{
            width: 30px;
            height: 30px;
            border:  1px solid #A2A4AD;
            border-radius: 50%;
            margin:  0 auto;

            }
            h3{
              cursor: pointer;
              color: #A2A4AD;
             font-size: 23px;
              margin-left: 5px;
          }
          p{
            color:#A2A4AD ;
          }
          img{
            width: 15px;
            height: 15px;
            margin-right: 8px;
          }
          .send{
            width: 50px;
            height: 50px;
            margin-right: 0;
          }

          input{
            @media (max-width: 768px) {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
        .circle{
          width: 60px;
          height: 60px;
          padding: 10px;
          border-radius: 50%;
          margin: 0 auto;
          @media (max-width: 990px) {
           display: none!important;
          }
          .one{
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #A2A4AD;
          }
          .two{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #A2A4AD;
          }
          .three{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #A2A4AD;
          }
        }

      }
      .col-lg-3 {
        @media (max-width: 990px) {
          margin-top: 50px;
        }
        .track {

        .log {
          width: 80px;
          height: 80px;
        }
          h6{
            font-size: 19px;
          }
          p{
            color:  #A2A4AD;
          }
          a{
            color: red;
          }
      }
        .jobs{
          h6{
            font-size: 13px;
          }
          p{
            color:  #A2A4AD;
            font-size: 13px;
          }
          h5{
            font-size: 17px;
            margin-top: 4px;
          }
        }


      }
      .lich{
        @media (max-width: 990px) {
          margin-top: 20px;
        }
        .message{
          width: 52px;
          height: 52px;
          border-radius: 50%;
          background-color: white;
          display: flex;
          align-items: center;
          box-shadow: 0 0 5px 0;
          img{
            width: 30px;
            height: 30px;
            margin: 0 auto;
          }
        }
        .ignour{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: red;
          top: 0;
          right: 0;
          p{
            color: white;
            font-size: 11px;
            margin-left: 4px;

          }

        }
      }
    }
  }
}
